.app {
  display: flex;
}

.conteiner-todo {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.conteiner-weather {
  float: right;
  width: 50%;
  height: 100%;
  padding: 20px;
}

@media screen and (max-width: 1028px) {

  .app {
    display: block;
  }

  .conteiner-weather {
    display: contents;
    width: 50%;
    height: 100%;
    padding: 20px;
  }
}